version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: document_parser_app
    env_file:
      - .env
    ports:
      - "8501:8501"
    volumes:
      - ./:/app
    command: ["streamlit", "run", "main.py", "--server.address=0.0.0.0", "--server.port=8501"]
